/* ruboto font family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  /* border: 1px solid red; */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#searchbar_wrapper {
  width: 98% !important;
  position: fixed;
  top: 0;
  padding-bottom: 6px;
}
.bi-youtube::before {
  font-size: 48px;
  padding-left: 8px;
}
.bi-list::before {
  font-size: 32px;
  font-weight: 600 !important;
}
.search-box input {
  width: 100%;
  margin: auto;
  margin-top: 4px;
}
.bi-search::before {
  margin-left: -6em;
  width: 3em;
  padding: 6px 10px;
}
.logo {
  font-size: 23px;
  font-weight: 900;
  margin-top: 4px;
  padding-left: 8px;
}
.logo sup {
  font-size: 16px;
}
#trending {
  width: 78vw;
  /* border: 1px solid red; */
  background-color: white;
  padding: 4px 0;
}
#trending button {
  margin: 0.3em;
  background-color: #f2f2f2;
  padding: 4px 22px;
  color: black;
  font-weight: 500;
}
#trending button:hover {
  background-color: #0f0f0f;
  color: white;
}
#left_side_buttons_links {
  height: 89vh;
  background-color: red;
  overflow: hidden;
}
#left_side_buttons_links:hover {
  height: 89vh;
  overflow: auto;
}

/* Width of the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #606060; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color of the scrollbar handle when hovered */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

#icon-text {
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  cursor: pointer;
}
#icon-text:hover {
  background-color: #e9e7e7d1;
}
#icon-text div:nth-child(1) {
  font-size: 25px;
  font-weight: 500;
  line-height: 24px;
}
.section-line {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.08);
}

.card img {
  width: 87%;
  height: 37%;
}

/* post container */
.blank-row{
  height: 6em;
  background-color: #ffffff;
}
img:hover{
  cursor: pointer;
  scale: 1.1;
  transition: 600ms;
}